# Standard Python ignores
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Large Datasets (from your previous steps)
*.csv
archive/
archive.zip

# Mac System Files (The .DS_Store you saw)
.DS_Store
.AppleDouble
.LSOverride

# Weights & Biases (The wandb/ folders in your commit)
wandb/